@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron text-center">
    <h1>Smk Taruna Bhakti <span><img src="~/Public/img/logo-starbhak.png" width="110" class="m" /></span></h1>
</div>

<div class="row">
    <div class="text-center">
        <div class="col-lg-4">
            <img class="img-circle" src="~/Public/img/logo-starbhak.png" alt="Generic placeholder image" width="140" height="140" style="object-fit: cover">
            <h2>Heading</h2>
            <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
            <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="img-circle" src="~/Public/img/logo-starbhak.png" alt="Generic placeholder image" width="140" height="140" style="object-fit: cover">
            <h2>Heading</h2>
            <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
            <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="img-circle" src="~/Public/img/logo-starbhak.png" alt="Generic placeholder image" width="140" height="140" style="object-fit: cover">
            <h2>Heading</h2>
            <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
            <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
    </div>

</div>